{% extends 'deployRender/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h1>¡Bienvenidos a La muela web site!</h1>
<p>Nos alegra que estés aquí. Esta es la página principal de nuestro sitio, donde podrás explorar todo lo que tenemos para ofrecer. </p>
<p>Puedes consultar el tiempo en cualquier ciudad de España y generar combinaciones aleatorias de lotería</p>
<p>Recuerda que esto es una prueba</p>

 <!-- Contenido principal -->
 <div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'imagen1.png' %}" class="img-fluid" alt="Imagen 1">
        </div>
    </div>
</div>
{% endblock %}

