{% extends 'deployRender/base.html' %}

{% block content %}
    <h1>Consulta el Clima</h1>
    <form action="{% url 'get_weather' %}" method="get">
        <label for="city">Ingrese el nombre de la ciudad:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Consultar</button>
    </form>

    {% if weather_data %}
        <h2>Datos del Clima en {{ weather_data.city }}</h2>
        <p>Latitud: {{ weather_data.coordinates.latitude }}</p>
        <p>Longitud: {{ weather_data.coordinates.longitude }}</p>
        <p>Temperatura: {{ weather_data.weather.current.temperature_2m }} °C</p>
        <p>Velocidad del Viento: {{ weather_data.weather.current.wind_speed_10m }} m/s</p>
        <!-- Otros datos del clima -->
    {% endif %}
{% endblock %}